{:paths ["src" "resources"]

 :deps {io.github.slagyr/isaac-agent {:local/root "../isaac-agent"}}

 :aliases
 {:test {:extra-paths ["spec"]
         :extra-deps  {io.github.slagyr/isaac-foundation-spec {:local/root "../isaac-foundation/spec"}
                       speclj/speclj                          {:mvn/version "3.13.0"}
                       babashka/process                       {:mvn/version "0.5.22"}
                       io.github.slagyr/gherclj               {:git/tag "v1.3.0" :git/sha "9c3bb1d"}
                       io.github.cleancoders/c3kit-wire       {:git/tag "2.5.1" :git/sha "1fae444"}
                       org.babashka/http-client               {:mvn/version "0.4.22"}
                       marigold.bridge/marigold.bridge        {:local/root "../isaac/modules/marigold.bridge"}
                       marigold.longwave/marigold.longwave    {:local/root "../isaac/modules/marigold.longwave"}}}

  :spec {:extra-paths ["spec"]
         :extra-deps  {io.github.slagyr/isaac-foundation-spec {:local/root "../isaac-foundation/spec"}
                       speclj/speclj                          {:mvn/version "3.13.0"}
                       babashka/process                       {:mvn/version "0.5.22"}
                       io.github.slagyr/gherclj               {:git/tag "v1.3.0" :git/sha "9c3bb1d"}
                       io.github.cleancoders/c3kit-wire       {:git/tag "2.5.1" :git/sha "1fae444"}
                       org.babashka/http-client               {:mvn/version "0.4.22"}
                       marigold.bridge/marigold.bridge        {:local/root "../isaac/modules/marigold.bridge"}
                       marigold.longwave/marigold.longwave    {:local/root "../isaac/modules/marigold.longwave"}}
         :main-opts   ["-m" "speclj.main" "-c" "-D" "spec"]}

  :features {:extra-paths ["spec"]
             :extra-deps  {io.github.slagyr/isaac-foundation-spec {:local/root "../isaac-foundation/spec"}
                           speclj/speclj                          {:mvn/version "3.13.0"}
                           babashka/process                       {:mvn/version "0.5.22"}
                           io.github.slagyr/gherclj               {:git/tag "v1.3.0" :git/sha "9c3bb1d"}
                           io.github.cleancoders/c3kit-wire       {:git/tag "2.5.1" :git/sha "1fae444"}
                           org.babashka/http-client               {:mvn/version "0.4.22"}
                           marigold.bridge/marigold.bridge        {:local/root "../isaac/modules/marigold.bridge"}
                           marigold.longwave/marigold.longwave    {:local/root "../isaac/modules/marigold.longwave"}}
             :main-opts   ["-m" "gherclj.main"
                           "-f" "features"
                           "-s" "isaac.**-steps"
                           "-t" "~slow"
                           "-t" "~wip"]}}}
