{:paths ["src" "resources"]

 :deps {
        io.github.slagyr/isaac-foundation {:git/url "https://github.com/slagyr/isaac-foundation.git"
                                          :git/sha "eb3bcb0785c4e86d9e8c032c26aa7b4341b9f04d"}
        io.github.slagyr/isaac-agent {:git/url "https://github.com/slagyr/isaac-agent.git"
                                          :git/sha "10093b4e62af2bec1baf92213dc50223d70b959a"}
        }

 :aliases
 {:dev-local {:override-deps {io.github.slagyr/isaac-agent           {:local/root "../isaac-agent"}
                               io.github.slagyr/isaac-agent-spec      {:local/root "../isaac-agent/spec"}
                               io.github.slagyr/isaac-foundation      {:local/root "../isaac-foundation"}
                               io.github.slagyr/isaac-foundation-spec {:local/root "../isaac-foundation/spec"}
                               io.github.slagyr/isaac-server          {:local/root "../isaac-server"}
                               io.github.slagyr/isaac-server-spec     {:local/root "../isaac-server/spec"}
                               io.github.slagyr/isaac-server-test-support {:local/root "../isaac-server/spec-support"}
                               marigold.bridge/marigold.bridge        {:local/root "../isaac-foundation/modules/marigold.bridge"}
                               marigold.longwave/marigold.longwave    {:local/root "../isaac-foundation/modules/marigold.longwave"}}}

  :test {:extra-paths ["spec"]
         :extra-deps  {io.github.slagyr/isaac-foundation-spec {:git/url "https://github.com/slagyr/isaac-foundation.git"
                                                                 :git/sha "eb3bcb0785c4e86d9e8c032c26aa7b4341b9f04d"
                                                                 :deps/root "spec"}
                       io.github.slagyr/isaac-server          {:git/url "https://github.com/slagyr/isaac-server.git"
                                                               :git/sha "eb51cc48b8964dabb678086ac36051a86d94c03a"}
                       speclj/speclj                          {:mvn/version "3.13.0"}
                       babashka/process                       {:mvn/version "0.5.22"}
                       io.github.slagyr/gherclj               {:git/tag "v1.3.0" :git/sha "9c3bb1d"}
                       io.github.cleancoders/c3kit-wire       {:git/tag "2.5.1" :git/sha "1fae444"}
                           org.babashka/http-client               {:mvn/version "0.4.22"}}}

  :spec {:extra-paths ["spec"]
         :extra-deps  {io.github.slagyr/isaac-foundation-spec {:git/url "https://github.com/slagyr/isaac-foundation.git"
                                                                 :git/sha "eb3bcb0785c4e86d9e8c032c26aa7b4341b9f04d"
                                                                 :deps/root "spec"}
                       io.github.slagyr/isaac-server          {:git/url "https://github.com/slagyr/isaac-server.git"
                                                               :git/sha "eb51cc48b8964dabb678086ac36051a86d94c03a"}
                       speclj/speclj                          {:mvn/version "3.13.0"}
                       babashka/process                       {:mvn/version "0.5.22"}
                       io.github.slagyr/gherclj               {:git/tag "v1.3.0" :git/sha "9c3bb1d"}
                       io.github.cleancoders/c3kit-wire       {:git/tag "2.5.1" :git/sha "1fae444"}
                       org.babashka/http-client               {:mvn/version "0.4.22"}
                       marigold.bridge/marigold.bridge        {:git/url "https://github.com/slagyr/isaac-foundation.git"
                                                               :git/sha "eb3bcb0785c4e86d9e8c032c26aa7b4341b9f04d"
                                                               :deps/root "modules/marigold.bridge"}
                       marigold.longwave/marigold.longwave    {:git/url "https://github.com/slagyr/isaac-foundation.git"
                                                                :git/sha "eb3bcb0785c4e86d9e8c032c26aa7b4341b9f04d"
                                                                :deps/root "modules/marigold.longwave"}}
         :main-opts   ["-m" "speclj.main" "-c" "-D" "spec"]}

  :features {:extra-paths ["spec" "feature-steps"]
             :extra-deps  {io.github.slagyr/isaac-foundation-spec {:git/url "https://github.com/slagyr/isaac-foundation.git"
                                                                  :git/sha "eb3bcb0785c4e86d9e8c032c26aa7b4341b9f04d"
                                                                  :deps/root "spec"}
                           io.github.slagyr/isaac-agent-spec      {:git/url "https://github.com/slagyr/isaac-agent.git"
                                                                   :git/sha "10093b4e62af2bec1baf92213dc50223d70b959a"
                                                                   :deps/root "spec"}
                           io.github.slagyr/isaac-server          {:git/url "https://github.com/slagyr/isaac-server.git"
                                                                   :git/sha "eb51cc48b8964dabb678086ac36051a86d94c03a"}
                           io.github.slagyr/isaac-server-spec     {:git/url "https://github.com/slagyr/isaac-server.git"
                                                                   :git/sha "eb51cc48b8964dabb678086ac36051a86d94c03a"
                                                                   :deps/root "spec"}
                           io.github.slagyr/isaac-server-test-support {:git/url "https://github.com/slagyr/isaac-server.git"
                                                                       :git/sha "eb51cc48b8964dabb678086ac36051a86d94c03a"
                                                                       :deps/root "spec-support"}
                           speclj/speclj                          {:mvn/version "3.13.0"}
                           babashka/process                       {:mvn/version "0.5.22"}
                           io.github.slagyr/gherclj               {:git/tag "v1.3.0" :git/sha "9c3bb1d"}
                           io.github.cleancoders/c3kit-wire       {:git/tag "2.5.1" :git/sha "1fae444"}
                           org.babashka/http-client               {:mvn/version "0.4.22"}
                           marigold.bridge/marigold.bridge        {:git/url "https://github.com/slagyr/isaac-foundation.git"
                                                                   :git/sha "eb3bcb0785c4e86d9e8c032c26aa7b4341b9f04d"
                                                                   :deps/root "modules/marigold.bridge"}
                           marigold.longwave/marigold.longwave    {:git/url "https://github.com/slagyr/isaac-foundation.git"
                                                                   :git/sha "eb3bcb0785c4e86d9e8c032c26aa7b4341b9f04d"
                                                                   :deps/root "modules/marigold.longwave"}}
             :main-opts   ["-m" "gherclj.main"
                           "-f" "features"
                           "-s" "isaac.foundation.fs-steps"
                           "-s" "isaac.foundation.root-steps"
                           "-s" "isaac.foundation.harness-config-steps"
                           "-s" "isaac.session.session-steps"
                           "-s" "isaac.server.server-steps"
                           "-s" "isaac.hooks-steps"
                           "-t" "~slow"
                           "-t" "~wip"]}}}
